profiles {
    local {
        workDir        = "/mnt/DATA/Nextflow/work"

        params {
            parent_indir  = "/mnt/BACKUP/data/"
            parent_outdir = "/mnt/BACKUP/out/"
        }

        process {
            executor = 'local'
            cpus     = 1
            memory   = "4 GB"

            // High CPU processes
            withLabel: high_cpu {
                cpus = 10
            }
        }
        conda.enabled  = true
        conda.useMamba = true
    }

    cluster {
        workDir = "/work/kl63sahy-monolayer/nextflow/work"

        params {
            parent_indir  = "/work/kl63sahy-monolayer/data/"
            parent_outdir = "/work/kl63sahy-monolayer/out_eliane_paper/"
        }

        process {
            executor      = "slurm"
            queue         = "paul"
            cpus          = 12
            beforeScript  = """
                source /software/easybuild/el8/amd_zen1/all/Mamba/23.1.0-4/etc/profile.d/conda.sh
                module load Mamba
                conda activate cmot-pipeline
            """
            errorStrategy = 'retry'
            maxRetries    = 3
            // Maximum number of retry attempts

            memory        = { task.attempt * 2 * task.memory }
            // Double memory each retry
            time          = { task.attempt * 2 * task.time }
        }
    }
}
nextflow.enable.strict = true
