profiles {
    local {
        workDir        = "/mnt/DATA/Nextflow/work"

        params {
            parent_indir              = "/mnt/DATA/data/"
            parent_outdir_preparation = "/mnt/SCRATCH/out/eliane_paper/data-preparation/"
            parent_outdir_analysis    = "/mnt/SCRATCH/out/eliane_paper/data-analysis/"
        }

        process {
            executor = 'local'
            cpus     = 1
            memory   = "4 GB"

            // High CPU processes
            withLabel: high_cpu {
                cpus = 10
            }
        }
        conda.enabled  = true
        conda.useMamba = true
    }

    cluster {
        workDir        = "/home/sc.uni-leipzig.de/kl63sahy/nextflow/work"

        conda.enabled  = true
        conda.useMamba = true
        conda.cacheDir = "/home/sc.uni-leipzig.de/kl63sahy/nextflow/conda-cache"

        params {
            parent_indir              = "/work/kl63sahy-monolayer/data/"
            parent_outdir_preparation = "/work/kl63sahy-monolayer/out/eliane_paper/data-preparation/"
            parent_outdir_analysis    = "/work/kl63sahy-monolayer/out/eliane_paper/data-analysis/"
        }

        process {
            executor      = "slurm"
            queue         = "paul"
            cpus          = 12
            errorStrategy = 'retry'
            maxRetries    = 3
            // Maximum number of retry attempts

            memory        = { task.attempt * 2 * task.memory }
            // Double memory each retry
            time          = { task.attempt * 2 * task.time }
        }
    }
}
nextflow.enable.strict = true

params {
    test = false
}
