profiles {
    local {
        workDir = "/mnt/DATA/Nextflow/work"

        params {
            parent_outdir        = "/mnt/DATA/fatty_tissue_paper_datan/"
            data_preparation_dir = "/mnt/DATA/out_eliane_paper/monolayer/eliane"
        }
    }

    cluster {
        workDir = "/work/kl63sahy-monolayer/nextflow/work"

        params {
            parent_outdir = "/work/kl63sahy-monolayer/out_eliane_paper/datan"
        }

        process {
            executor      = "slurm"
            queue         = "paul"
            beforeScript  = """
                source /software/easybuild/el8/amd_zen1/all/Mamba/23.1.0-4/etc/profile.d/conda.sh
                module load Mamba
                conda activate datan-fatty_tissue
            """
            errorStrategy = 'retry'
            maxRetries    = 3

            cpus          = 1
            memory        = "12GB"

            memory        = { task.attempt * 1.5 * task.memory }
            time          = { task.attempt * 1.5 * task.time }
        }
    }
}
nextflow.enable.strict = true
